# Java
/target/
**/target/
*.class
*.jar
*.war
*.ear
*.iml

# Maven
.mvn/wrapper/maven-wrapper.jar

# Logs
*.log

# Node/Angular
node_modules/
**/node_modules/
dist/
**/dist/
.angular/
backend/target/

# Env files
.env

# OS
.DS_Store

# IDE
.idea/
.vscode/
