server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/nimbuzz
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: true
    baseline-version: 1
  sql:
    init:
      mode: never
  jpa:
    hibernate:
      ddl-auto: none
    open-in-view: false
  h2:
    console:
      enabled: false

logging:
  level:
    org.springframework.jdbc.core: WARN
